langauge: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7" 
script:
  - pytest
install:
  - pip install -r requirements.txt
deploy:
  provider: pypi
  user: thesamartian
  password:
    secure: C3Hy2sA2J+8OcLs5K3zG6pGdOOHrjGvxVYY6ZsZ16UR7QvTP9Bk/yHlvX/yNEnPrCuvnWR1rIZ+9BMIvxUbFtIwpkWqw7GbzEVIewCxppjbHB8hQ6i2WSXkI295lxHqXRBL9XZupUbsR6DOFtF0DJH1ajErjGXgtZCLf9cjYRZ6uvz6jkotvbsrDDeGzd1DFZCaWsh7i/K5I5fUHKD+sHbbWLNCXlDSUzYhlVUkfDgXz85ddXYLLoBFTCvNprCqlG9ytpUaCF80PNTlvsPsLHKxGU38fp3ZSelfzmuNvqzxbXelw4gaQWvJbCdJm+CGml4swT/DAJTCmbwlUQFRLcl+t2Cozd4QeosZ0dSNbRqJ7X2yrwgCkMyRzYTI8MOux2YTY1Ffbo/mJKL2vSTb0VcOt7seMx6zUeCc+5B/ssnLWqGxaIYYLlutcXbXz41HT6kg46JkkXs74ek3V2f5N8fG5hJrY0Lx8msi5kZdznUA7Ka7ZKV6M7/IDTnpQi2vw9ttIKNiA201pqsThSFG+l+wk3PJqflHdXd4qSPtoOxGz3N8Kobm0IpZiT1CXWLHB3t/J0jrMZXvf1O3MMj3Rz8asYIrwLtuxW+PhMwlPOWqLSOIItMKJr2XqdenjbG068GS/iuL3DYuRCcV88Y4wAlRL3sAGgSusqtIy+47MTHE=
